@import "tailwindcss";

.textGradient {
  background: linear-gradient(90deg, #ff8000, #c08d00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}