@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #ebebeb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-source-code-pro: var(--font-source-code-pro);
}

@layer {
  body {
    @apply bg-background text-foreground font-source-code-pro antialiased;
  }
}
